<launch>

  <arg name="node_name" default="grasp_frame_publisher"/>

  <arg name="gripper_base_link" default="gripper_roll_link"/>
  <arg name="frame_name" default="grasp_center"/>
  <arg name="pub_rate" default="100"/>

  <arg name="scale" default="1.0"/>

  <arg name="finger_version" default="v3"/>


  <arg name="pi" value="$(eval pi)"/>
  <arg name="pi_2" value="$(eval pi/2)"/>
  <arg 
        if="$(eval arg('finger_version') == 'v3' )" 
        name="grasp_frame_dz" 
        value="$(eval 0.191486403*arg('scale'))"
  />

  <node
    name="$(arg node_name)" 
    pkg="tf" 
    type="static_transform_publisher" 
    args="0 0 $(arg grasp_frame_dz) $(arg pi_2) 0 $(arg pi_2) $(arg gripper_base_link) $(arg frame_name) $(arg pub_rate)" 
  /> 


</launch>