<?xml version="1.0"?>
<robot name="sun_finger_v3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import finger macro -->
  <xacro:include filename="$(find sun_tactile_simulation)/urdf/wsg50_with_sunfinger.xacro" />
  
  <xacro:wsg50_with_sunfinger
    prefix=''
    base_link="base_link"
    scale="1.0"
    finger_version="v3N"
    mimic_joints="true"
    create_sensor_link="true"
    create_grasp_link="true"
  />

</robot>
