<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- WSG50 macro -->
<xacro:include filename="$(find sun_wsg50_simulation)/urdf/wsg50.xacro" />

<xacro:macro 
    name="wsg50_with_finger" 
    params="
        name_prefix:=''
        base_link_name:='gripper_roll_link'
        scale:=1.0
        finger_version:=v3
        "
>

<xacro:wsg50 
    name_prefix="${name_prefix}"
    roll_link_name="${base_link_name}" 
    finger_left_name="finger_left"
    finger_right_name="finger_right"
    scale="${scale}"
/>

<xacro:macro 
    name="finger_with_fixed_joint" 
    params="
        name_prefix:=''
        finger_side:=right
        scale:=1.0
        "
>

<joint name="${name_prefix}finger_${finger_side}_fixed_joint" type="fixed">
    <parent link="${name_prefix}finger_${finger_side}_link"/>
    <child link="${name_prefix}sun_finger_${finger_side}_link"/>
    <origin rpy="0 0 0" xyz="${-0.008777405*scale} ${0*scale} ${0.081460829*scale}"/>
</joint>

<xacro:if value="${finger_version=='v3'}">
    <!-- Import finger macro -->
    <xacro:include filename="$(find sun_tactile_simulation)/urdf/sun_finger_v3.xacro" />
    <xacro:sun_finger_v3
        link_name="${name_prefix}sun_finger_${finger_side}_link" 
        scale="${scale}"
    />
</xacro:if>

</xacro:macro> <!-- finger_with_fixed_joint -->

<xacro:finger_with_fixed_joint
    name_prefix="${name_prefix}"
    finger_side="left"
    scale="${scale}"
/>

<xacro:finger_with_fixed_joint
    name_prefix="${name_prefix}"
    finger_side="right"
    scale="${scale}"
/>

</xacro:macro> <!-- wsg50_with_fingerv3 -->


</robot>