<launch>

<arg name="wrench_topic" default="wrench"/>

<arg name="namespace_finger0" default="finger0" />
<arg name="namespace_finger1" default="finger1" />

<arg name="serial_port_finger0" default="/dev/ttyUSB0" />
<arg name="serial_port_finger1" default="/dev/ttyUSB1" />

<arg name="frame_id_finger0" default="fingertip0" />
<arg name="frame_id_finger1" default="fingertip1" />

<arg name="finger0_code" default="#H003_resina" />
<arg name="finger1_code" default="#H004_resina" />

<arg name="finger_distance_topic" default="distance"/>
<arg name="finger_distance_offset" default="0.0"/>

<arg name="frame_id_grasp" default="grasp_center"/>

<arg name="grasp_force_topic" default="grasp_force"/>

<arg name="compute_bias_action" default="compute_bias_action" />

    <group ns="$(arg namespace_finger0)">
        <include file="$(find sun_tactile_driver)/launch/read_wrench.launch">

            <arg name="serial_port" value="$(arg serial_port_finger0)" />

            <arg name="frame_id" value="$(arg frame_id_finger0)" />

            <arg name="finger_code" value="$(arg finger0_code)" />

            <arg name="action_compute_bias" value="$(arg compute_bias_action)" />
    
        </include>
    </group>

    <group ns="$(arg namespace_finger1)">
        <include file="$(find sun_tactile_driver)/launch/read_wrench.launch">

            <arg name="serial_port" value="$(arg serial_port_finger1)" />

            <arg name="frame_id" value="$(arg frame_id_finger1)" />

            <arg name="finger_code" value="$(arg finger1_code)" />

            <arg name="action_compute_bias" value="$(arg compute_bias_action)" />
    
        </include>
    </group>
    
    <node name="combine_wrench" pkg="sun_tactile_driver" type="combine_wrench" output="screen">

        <param name="wrench0_topic" type="string" value="$(arg namespace_finger0)/wrench"/>
        <param name="wrench1_topic" type="string" value="$(arg namespace_finger1)/wrench"/>

        <param name="distance_topic" type="string" value="$(arg finger_distance_topic)"/>
        <param name="distance_offset" type="double" value="$(arg finger_distance_offset)"/>

        <param name="frame_id" type="string" value="$(arg frame_id_grasp)"/>

        <param name="wrench_out_topic" type="string" value="$(arg wrench_topic)"/>
        <param name="grasp_force_topic" type="string" value="$(arg grasp_force_topic)"/>

    </node>

</launch>