<launch>

  <arg name="serial_port" default="/dev/ttyUSB0" />

  <arg name="baud_rate" default="1000000" />

  <arg name="serial_timeout" default="1000" />

  <arg name="rows" default="5" />

  <arg name="cols" default="5" />

  <arg name="tf_prefix" default="" />

  <arg name="frame_id" default="fingertip0" />

  <arg name="voltage_raw_topic" default="tactile_voltage/raw" />

  <arg name="voltage_rect_topic" default="tactile_voltage/rect" />

  <arg name="action_compute_bias" default="tactile_voltage/action_compute_bias" />

  <!-- Insert here finger ID [e.g. #F001-28A] | You MUST provide a calibration folder in <pkg-name>/Finger_files-->
  <arg name="finger_code" default="#H003_rigid" />

  <arg name="wrench_topic" default="wrench" />

  <arg name="bool_filter_voltage" default="true" />
  <arg name="voltage_raw_filter_topic" default="$(arg voltage_raw_topic)_filter" />
  <arg name="filter_voltage_cut_freq" default="300.0" />
  <arg name="filter_voltage_rate" default="600.0" />

  <arg name="bool_filter_wrench" default="true" />
  <arg name="wrench_filter_topic" default="$(arg wrench_topic)_filter" />
  <arg name="filter_wrench_cut_freq" default="300.0" />
  <arg name="filter_wrench_rate" default="600.0" />

  <arg name="bool_mov_av_wrench" default="true" />
  <arg name="mov_av_wrench_N" default="5" />
  <arg name="mov_av_wrench_rate" default="50.0" />
  <arg name="wrench_mov_av_topic" default="$(arg wrench_topic)_m_av" />

  
  <node name="read_tactile_serial"  pkg="sun_tactile_driver" type="read_tactile_serial" output="screen">

    <param name="serial_port" type="string" value="$(arg serial_port)"/>

    <param name="baud_rate" type="string" value="$(arg baud_rate)"/>

    <param name="serial_timeout" type="string" value="$(arg serial_timeout)"/>

    <param name="rows" value="$(arg rows)"/>
    <param name="cols" value="$(arg cols)"/>

    <param name="tf_prefix" type="string" value="$(arg tf_prefix)"/>
    <param name="frame_id" type="string" value="$(arg frame_id)"/>

    <param name="output_topic" type="string" value="$(arg voltage_raw_topic)"/>

  </node>

  <node if="$(arg bool_filter_voltage)" name="filter_tactile"  pkg="sun_tactile_driver" type="filter_tactile" output="screen">

    <param name="num_voltages" value="$(eval arg('cols') * arg('rows'))"/>

    <param name="in_topic" type="string" value="$(arg voltage_raw_topic)"/>

    <param name="out_topic" type="string" value="$(arg voltage_raw_filter_topic)"/>

    <param name="cut_freq" value="$(arg filter_voltage_cut_freq)"/>
    <param name="rate" value="$(arg filter_voltage_rate)"/>

  </node>

  <node name="remove_bias"  pkg="sun_tactile_driver" type="remove_bias" output="screen">

    <param name="in_voltage_topic" type="string" value="$(arg voltage_raw_topic)" unless="$(arg bool_filter_voltage)"/>
    <param name="in_voltage_topic" type="string" value="$(arg voltage_raw_filter_topic)" if="$(arg bool_filter_voltage)"/>

    <param name="out_voltage_topic" type="string" value="$(arg voltage_rect_topic)"/>

    <param name="action_compute_bias" type="string" value="$(arg action_compute_bias)"/>

    <param name="default_num_samples" value="100"/>

    <param name="num_voltages" value="$(eval arg('cols') * arg('rows'))"/>

  </node>

  <node name="read_wrench" pkg="sun_tactile_driver" type="read_wrench" output="screen">

    <!-- Insert here finger ID [#A123-45B] | You MUST provide a calibration folder in <pkg-name>/Finger_files-->
    <param name="fingerCode" type="string" value="$(arg finger_code)"/>

    <param name="in_voltage_topic" type="string" value="$(arg voltage_rect_topic)"/>

    <param name="wrench_topic" type="string" value="$(arg wrench_topic)"/>
	
  </node>

  <node if="$(arg bool_filter_wrench)" name="filter_wrench"  pkg="sun_ros_utils_nodes" type="filter_wrench_stamped" output="screen">

    <param name="in_topic" type="string" value="$(arg wrench_topic)"/>

    <param name="out_topic" type="string" value="$(arg wrench_filter_topic)"/>

    <param name="cut_freq" value="$(arg filter_wrench_cut_freq)"/>
    <param name="rate" value="$(arg filter_wrench_rate)"/>

  </node>

  <node if="$(arg bool_mov_av_wrench)" name="m_av_wrench"  pkg="sun_ros_utils_nodes" type="mov_av_wrench_stamped" output="screen">

    <param name="in_topic" type="string" value="$(arg wrench_filter_topic)"/>

    <param name="out_topic" type="string" value="$(arg wrench_mov_av_topic)"/>

    <param name="mov_av_wrench_N" value="$(arg mov_av_wrench_N)"/>
    <param name="rate" value="$(arg mov_av_wrench_rate)"/>

  </node>


</launch>
