<launch>

  <arg name="serial_port" default="/dev/ttyUSB0" />

  <arg name="baud_rate" default="1000000" />

  <arg name="serial_timeout" default="1000" />

  <arg name="rows" default="5" />

  <arg name="cols" default="5" />

  <arg name="frame_id" default="fingertip0" />

  <arg name="output_topic" default="tactile_voltage" />

  
  <node name="read_tactile_serial"  pkg="sun_tactile_driver" type="read_tactile_serial" output="screen">

      <param name="serial_port" type="string" value="$(arg serial_port)"/>

      <param name="baud_rate" type="string" value="$(arg baud_rate)"/>

      <param name="serial_timeout" type="string" value="$(arg serial_timeout)"/>

      <param name="rows" value="$(arg rows)"/>
      <param name="cols" value="$(arg cols)"/>

      <param name="frame_id" type="string" value="$(arg frame_id)"/>

      <param name="output_topic" type="string" value="$(arg output_topic)"/>

  </node>

</launch>

